<div align="center">
    <table class="cust_table" style="width:600px;height:20px;">
        <tr>
            <td>
                <b>
                    Description
                </b>
            </td>
            <td>
                <b>
                    DueDate
                </b>
            </td>
            <td>
                <b>
                    Priority
                </b>
            </td>
            <td>

                <b>
                    Status
                </b>
            </td>
            <td>

                <b>
                    User
                </b>
            </td>

        </tr>
    </table>
</div>