<div align="center">
    <table class="cust_table" style="width:600px;height:20px;">
        <tr>
            <td>
                <b>
                    Description
                </b>
            </td>
            <td>
                <b>
                    DueDate
                </b>
            </td>
            <td>
                <b>
                    Priority
                </b>
            </td>
            <td>

                <b>
                    Status
                </b>
            </td>
            <td>

                <b>
                    User
                </b>
            </td>

        </tr>

        <tr>
            <div ng-repeat="itrTask in tasks">
                <td>
                    {{itrTask.desc}}
                </td>
                <td>
                    {{itrTask.dueDate}}
                </td>
                <td>
                    {{itrTask.status}}
                </td>
                <td>
                    {{itrTask.priority}}
                </td>
                <td>
                    {{itrTask.user}}
                </td>
                <td>
                    <div>
                        <button  ng-click="editTask()">Edit Task</button>
                    </div>
                </td>
                <td>
                    <div>
                        <button  ng-click="deleteTask()">Delete Task</button>
                    </div>
                </td>
            </div>
        </tr>
        <tr>
            <div>
                <button  ng-click="addTask()">Add Task</button>
            </div>
        </tr>

    </table>
</div>